body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.heading{
    text-align: center;
    margin-bottom: 20px; 
}

.listNames {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.listNames li {
    margin: 10px 0;
}

.listNames li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: block;
}

.listNames li a:hover {
    background-color: #007BFF;
    color: white;
}


.listView {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.linkNav {
    text-align: center;
    margin-bottom: 20px;
}

.linkNav a {
    text-decoration: none;
    color: #007BFF;
    font-size: 20px;
    font-weight: bold;
    transition: color 0.3s;
}

